<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Road Sign Interpretation</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
  <div id="title" class="slide header">

  </div>

  <div id="slide1" class="slide">
    <div class="title">
      <!-- <button> Test Button</button> -->
      <h1>Introduction</h1>
      <p>We all commute the busy roads of where we live. With so many hazards on the road we want to always be informed and prepared for any and all conditions that we may come across in our vehicles while driving alone or even with our families. We decided to create a site that can help alleviate some of the burdens of the road: those indistinguishable and confusing road signs.
        <br>
        <br>
          By taking a quick pictures safely while driving (preferably a passenger) you can log on to this site and upload the photo and in seconds it will let you know what the sign is trying to convey.</p>
    </div>
    <img src="/static/images/keep_right.png">
    <img src="/static/images/next_exit.png">
  </div>

  <div id="slide2" class="slide">
    <div class="title">
      <h1>Process</h1>
      <p>Now, I know what you're thinking but hold the applause. This was hard.
      </p>
    </div>

  </div>

  <div id="slide3" class="slide">
    <div class="title">
      <h1>Upload Traffic Sign</h1>
      <hr>

      <form action="/" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label>Select image</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="image">
            <label class="custom-file-label" for="image"></label>
          </div>
          <img src="/static/images/keep_right.png">
          <img src="/static/images/next_exit.png">
        </div>
       
        <button type="submit" class="btn btn-primary">Upload</button>    
      </form>
      <!-- <img src="{{ url_for('send_uploaded_file', filename=uploaded_image) }}" /> -->
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1>The Sign is:  {{ value1 }} </h1>

    </div>
  </div>

  <div id="slide4" class="slide header">
    <h1>Our goodbye.</h1>
    <p-1>We all had a lot of fun while learning something that for some us was completely foreign and brand new. While others it was a refresher course. But I think we couls all say we learned a thing or two from each one of us. I appreciate the long nights I spents with a few of you and the code you passed along to get that project submitted. Thank you.</p-1>


  </div>
</body>

</html>